<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Profile page for RateMyProfessors">
    <meta name="keywords" content="RateMyProfessors, profile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <title th:text="${profDept.prof.profFirstName} + ' ' + ${profDept.prof.profLastName} + ' tại ' + ${profDept.dept.getInst().getInstName()}">Giảng viên tại trường</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
	        <a class="navbar-brand" th:href="@{/}">Trang chủ</a>
	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
      		</button>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <form class="d-flex flex-fill justify-content-center" role="search" th:action="@{/search}" method="post">
                    <div class="form-floating form-check-inline">
                        <input type="text" class="form-control me-2" id="name" th:name="profName" placeholder="Nhập tên giảng viên">
                        <label for="name" class="form-label">Giảng viên</label>                    
                    </div>
                    <div class="form-floating form-check-inline">
                        <input type="text" class="form-control me-2" id="inst" th:name="profInst" placeholder="Nhập tên trường">
                    	<label for="inst" class="form-label">Trường</label>                    
                    </div>
                    <button type="submit" class="btn btn-outline-primary">
                        <span class="fa fa-search" title="Tìm kiếm"></span>
                    </button>
	            </form>
	        	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        		<li><a class="nav-item btn btn-outline-primary" th:href="@{/login}">Đăng nhập</a></li>
	        		<li><a class="nav-item btn btn-primary" th:href="@{/signup}">Đăng kí</a></li>
	        	</ul>	
	        </div>	
		</div>
    </nav>
    <main class="container">
        <div>
            <div>
                <h1 th:text="${profDept.prof.profFirstName} + ' ' + ${profDept.prof.profLastName}">Giảng viên</h1>
                <h2 th:text="${profDept.getDept().getDeptName()}">Bộ môn</h2>
                <h2 th:text="${profDept.getDept().getInst().getInstName()}">Trường</h2>
            </div>
            <div class="btn-group">
                <a class="btn btn-secondary" th:href="@{'/profile?id='+${profDept.getIdProfDept()}}">Tất cả môn học</a>
                <a class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    				<span class="visually-hidden">Thêm môn</span>
  				</a>
                <ul class="dropdown-menu" th:each="course:${courses}">
                    <li><a class="dropdown-item" th:text="${course.getCourseCode()}" th:href="@{'/profile?id='+${profDept.getIdProfDept()}+'&course='+${course.getIdCourse()}}">Môn</a></li>
                    <li><a class="dropdown-item" th:href="@{'/profile?id='+${profDept.getIdProfDept()}+'&course=other'}">Khác</a></li>
                </ul>
            </div>
            <a th:href="@{'/rate?id='+${profDept.getIdProfDept()}}">Chấm điểm giảng viên</a>
        </div>
                
        <div class="card" th:each="rating:${ratings}">
        	<div class="card-body">
        		<div class="row">
        			<div class="col-auto text-center">
        				<strong class="row-fluid">Đánh giá</strong>
        				<h3 th:if="${rating.getOverallScore() &lt; 2}" class="row-fluid text-bg-danger" th:text="${rating.getOverallScore()}">Đánh giá</h3>
						<h3 th:if="${rating.getOverallScore() &lt;= 4 and rating.getOverallScore() &gt;= 2}" class="row-fluid text-bg-warning" th:text="${rating.getOverallScore()}">Đánh giá</h3>
						<h3 th:if="${rating.getOverallScore() &gt; 4}" class="row-fluid text-bg-success" th:text="${rating.getOverallScore()}">Đánh giá</h3>
						
						<strong class="row-fluid">Độ khó</strong>
						<h3 th:if="${rating.getDifficultyLevel() &gt; 4}" class="row-fluid text-bg-danger" th:text="${rating.getDifficultyLevel()}">Độ khó</h3>
						<h3 th:if="${rating.getDifficultyLevel() &gt;= 2 and rating.getDifficultyLevel() &lt;= 4}" class="row-fluid text-bg-warning" th:text="${rating.getDifficultyLevel()}">Độ khó</h3>
						<h3 th:if="${rating.getDifficultyLevel() &lt; 2}" class="row-fluid text-bg-success" th:text="${rating.getDifficultyLevel()}">Độ khó</h3>
        			</div>
        			<div class="col">
	        			<div class="row">
						<div class="col-auto card-text border-end" th:if="${rating.getWillRetake()}!=null" th:switch="${rating.getWillRetake()}">
		      				<div th:case="false">Nên học: Không</div>
		    				<div th:case="true">Nên học: Có</div>
		    			</div>
		    			<div class="col-auto card-text border-end" th:if="${rating.getForCredit()}!=null" th:switch="${rating.getForCredit()}">
		   					<div th:case="false">Lấy tín chỉ: Không</div>
		    				<div th:case="true">Lấy tín chỉ: Có</div>
		    			</div>
		    			<div class="col-auto card-text border-end" th:if="${rating.getRequireTextbook()}!=null" th:switch="${rating.getRequireTextbook()}">
		      				<div th:case="false">Sách giáo khoa: Không</div>
		    				<div th:case="true">Sách giáo khoa: Có</div>
		    			</div>
		    			<div class="col-auto card-text border-end" th:if="${rating.getRequireAttendance()}!=null" th:switch="${rating.getRequireAttendance()}">
		      				<div th:case="false">Điểm danh: Không</div>
		    				<div th:case="true">Điểm danh: Có</div>
		    			</div>
		    			<div class="col-auto card-text" th:if="${rating.getReceivedGrade()}!=null" th:text="${'Điểm tổng kết: '+rating.getReceivedGrade()}"></div>
					</div>
		  			<p class="card-text" th:text="${rating.getReview()}"></p>  
        		</div>
        	</div>
	  		<div class="card-text text-end">
	  			<small class="text-muted" th:text="'Đăng tải '+${#dates.format(rating.getCreated(), 'dd-MM-yyyy')}">Đăng tải</small>
	  			<small class="text-muted" th:text="'Cập nhật '+${#dates.format(rating.getModified(), 'dd-MM-yyyy')}">Cập nhật</small>
	 		</div>
        </div>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>

</html>